
/*Colores*/
$white:#fff;
$black:#000;
$darkBlue: #132130;
$mediumBlue:#134E5E;
$lightBlue:#84bcff;
$neonGreen: #2dfd4c;
$lightGreen: #71B280;
$green:#149244;
$orange:#ff6600;
$ligthRed:#fb6868;

/*MediaQueries para diferentes Devices*/
$desktopS:1024px;
$tabletX: 920px;
$tablet:768px;
$mobile:540px;
